.btn{
    width: 50px;
   height: 50px;
    font-size: 20px;
    color: red;
    font-weight: 400;
    background: aquamarine;
    border: 1px solid ;
}
#view {
    width: 500px;
    height: 30px;
    background: yellow;
    color: red;
}